:root {
  --color-primary--100: hsl(337, 100%, 90%);
  --color-primary--200: hsl(337, 100%, 70%);
  --color-primary--300: hsl(337, 100%, 50%);
  --color-primary--400: hsl(337, 100%, 40%);
  --color-primary--500: hsl(337, 100%, 20%);
  --color-primary--600: hsl(337, 100%, 10%);
  --color-primary--700: hsl(337, 100%, 5%);

  --color-gray--500: hsl(320, 4%, 17%);
}
